<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356571080419-8g7ubk5uqplsmv0oh344294844d8167l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356571080419-8g7ubk5uqplsmv0oh344294844d8167l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>356571080419-6hqv6i1b8uisvnb6u2kqu9gtfj9a4srk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>INSERT-API-KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>356571080419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shollingsworth.PetalMinder</string>
	<key>PROJECT_ID</key>
	<string>sol-fyp</string>
	<key>STORAGE_BUCKET</key>
	<string>sol-fyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356571080419:ios:f00c4dd43207f56bbbc7d6</string>
	<key>DATABASE_URL</key>
	<string>https://sol-fyp-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>